<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.track.mytools">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ToolsActivity"
            android:label="@string/title_activity_tools"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.TranslucentDecor"></activity>
        <activity
            android:name=".activity.SuffixActivity"
            android:label="SuffixActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"></activity>
        <activity
            android:name=".activity.QrySuffixActivity"
            android:label="QrySuffixActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"></activity>
        <activity
            android:name=".activity.QrySuffixDetailActivity"
            android:label="QrySuffixDetailActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"></activity>
        <activity
            android:name=".activity.PwdActivity"
            android:label="PwdActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"></activity>
        <activity
            android:name=".activity.PhotoShadeActivity"
            android:label="PhotoShadeActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"></activity>
        <activity
            android:name=".activity.HttpActivity"
            android:label="HttpActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"></activity>
    </application>

</manifest>